.circle {
    width: 450px;
    height: 450px;

    background: linear-gradient(to bottom, #f5576c, #f093fb);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
    border-radius: 60% 40% 62% 38% / 54% 36% 64% 46%;

    animation: circleRadius 5s alternate infinite;

    position: absolute;
    right: 2rem;
    bottom: 1rem;
    z-index: 1;
}

@keyframes circleRadius {
    0% {
        border-radius: 60% 40% 62% 38% / 54% 36% 64% 46%;
    }
    100% {
        border-radius: 32% 68% 36% 64% / 32% 64% 36% 68%;
    }
}