.social {
    display: flex;
    align-items: center;
}

.social__text {
    margin-right: 2rem;

    color: $black;
    font-size: .8rem;
    font-weight: 600;
}

.social__link {
    margin-right: 1rem;
}

.social__link .social__icon  {
    &:hover {
        fill: $black;
    }
}

.social__icon {
    display: block;
    width: 30px;
    height: 30px;

    fill: #ababab;

    transition: fill .1s linear;

    &--fb {
        width: 30px;
        height: 30px;
    }

    &--vk {
        height: 30px;
        width: 30px;
    }

}